@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Sriracha&display=swap');

:root{
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', cursive; 
    --fonte03: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    min-height: 100vh;
    background-color: gray;
    font-family: var(--fonte01);
}

header{
    font-family: var(--fonte02);
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 9vw;
}

header > p{
    padding-bottom: 50px;
}

section{
    font-size: 3.3vw;
    font-family: var(--fonte03);
    line-height: 4em;
    padding-left: 30px;
}

section > p{
    padding-bottom: 1em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagens{
    background-color: black;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.563);
    background-attachment: fixed;
}

section.imagens > p{
    width: 400px;
    background-color: #1212124e;
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: center center;
    background-size: cover;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}